<div class="row">
    {{#if loginError}}
    <div class="reg-err"><p>{{loginError}}</p></div>
    {{/if}}
    {{#if loginPassErr}}
    <div class="reg-err"><p>{{loginPassErr}}</p></div>
    {{/if}}
    <div id="login" class="col s6 offset-s3">
        <h1>Изменения пароля</h1>
        <form action="/auth/password" method="post">
            <div class="input-field">
                <input name="password" id="password" type="password" class="validate" required="required">
                <label for="password">Введите новый пароль:</label>
                <span class="helper-text" data-error="Введите пароль:"></span>
            </div>
            <input type="hidden" name="_csrf" value="{{csrf}}">
            <input type="hidden" name="userId" value="{{userId}}">
            <input type="hidden" name="token" value="{{token}}">
            <button type="submit" class="btn btn-primary">Обновить пароль</button>
        </form>
    </div>
</div>